* {
  /* font-family: "League Spartan", sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header */

header {
  display: flex;
  align-items: center;
  height: 126px;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 55px;
}

header .logo img {
  width: 300px;
}

nav ul {
  display: flex;
  align-items: baseline;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 21px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: rgb(110, 110, 110); 
}

nav ul li.contact-item a {
  background-color: rgb(255, 191, 35);
  padding: 7px 15px; 
  border: 1px solid black;
  border-radius: 6px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li.contact-item a:hover {
  background-color: rgba(255, 191, 35, 0.8);
}

/* Banner */

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 90px 100px 50px 100px;
  width: 73%;
  margin: auto;
}

.banner-content {
  width: 50%;
  margin-bottom: 140px;
}

.banner-content-main {
  width: 95%;
}

.banner-content h1 {
  font-size: 3.2rem;
  font-weight: 400;
}

.banner-content-description {
  line-height: 28px;
  margin-bottom: 48px;
}

.banner-section img {
  max-width: 100%; 
  height: auto; 
  width: 50%
}

.banner-support {
  position: absolute;
  bottom: 100px;
  z-index: -1;
  opacity: 0.3;
  left: 50%; 
  transform: translateX(-50%); 
}

.banner-content-button {
  background-color: black;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}

.banner-content-button:hover {
  background-color: rgb(153, 110, 0);
  border: 1px solid black;
  color: black;
}

.banner-content-icons {
  display: flex;
  margin-top: 80px;
}

.banner-content-icons .icons-wrapper:first-child p {
  width: auto;
  white-space: nowrap;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.icons-wrapper img {
  width: 32px;
  padding-right: 13px;
}

.icons-wrapper p {
  font-size: 0.8rem;
  width: min-content;
}

/* About */

.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 191, 35);
  padding: 100px 0;
}

.about-section-wrapper {
  width: 73%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.about-left-content {
  width: 45%;
}

.about-left-content h2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 48px;
}

.about-right-content {
  width: 45%;
}

.about-right-content p span {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.1rem;
}

.about-right-content p {
  line-height: 26px;
}

/* Our offers */

.our-offers-section {
  display: flex;
  justify-content: center;
}

.our-offers-section-wrapper {
  width: 73%;
  padding: 100px 0;
}

.our-offers-header {
  width: 50%;
  line-height: 26px;
}

.our-offers-header h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.our-offers-header span {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-right: 5px;
}

.our-offers-cards-wrapper {
  display: flex;
}

.our-offers-cards-wrapper {
  margin-top: 90px;
}

.card-wrapper {
  width: 25%;
}

.card-img img {
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 600;
}

.card-description {
  line-height: 26px;
  width: 80%;
}

.card-description h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.card-description-tagline {
  font-weight: 300;
  font-weight: 600;
}

/* Challenge */

.challenge-section {
  padding-bottom: 80px;
}

.challenge-section-wrapper {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.challenge-section-left-block {
  width: 45%;
  position: relative;
}

.challenge-section-left-block img {
  width: 100%;
}

.challenge-section-right-block {
  width: 37%;
}

.challenge-section-right-block span {
  font-weight: 100;
}

.challenge-section-right-block h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.challenge-section-right-block p {
  line-height: 26px;
}

.challenge-section-left-block img:nth-child(1) {
  position: absolute;
  top: -83px;
  left: 0;
  width: 45%;
  z-index: 0;
}

.challenge-section-left-block img:nth-child(2) {
  z-index: 1;
  position: relative;
}

.challenge-section-left-block img:nth-child(3) {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 35%;
  height: 127px;
  z-index: 0;
}

.challenge-section-left-block img:nth-child(4) {
  position: absolute;
  bottom: -108px;
  right: 97px;
  width: 46%;
  height: 144px;
  z-index: 1;
}

/* Use cases */

.use-cases-section {
  background-color: rgb(255, 215, 239);
}

.use-cases-section-wrapper {
  width: 73%;
  margin: auto;
  padding: 80px 0;
}

.use-cases-content {
  display: flex;
  justify-content: space-between;
}

.image-container {
  position: relative; 
}

.image-container img {
  width: auto;
  height: 410px;
  background-color: #fff;
  border-radius: 17px;
}

.use-cases-header h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 95px;
}

.use-case-description {
  position: absolute; 
  top: 50%; 
  left: 10px; 
  transform: translateY(-50%); 
  padding: 10px; 
  border-radius: 5px; 
  line-height: 26px;
}

.use-case-description h3 {
  font-weight: 600;
}


