/* Global */

* {
  /* font-family: "League Spartan", sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.section-title {
  font-family: "League Spartan", serif;
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.btn-filled {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 10px 19px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.4s ease;
  border: 1px solid transparent;
  text-decoration: none;
}

.btn-filled:hover {
  background-color: rgb(153, 110, 0);
  border: 1px solid black;
  color: black;
}

.btn-outline {
  padding: 13px 33px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.4s ease;
  text-decoration: none;
  color: black;
}

.btn-outline:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.bold-content {
  font-weight: 500!important;
}

/* Header */

header {
  display: flex;
  align-items: center;
  height: 126px;
  justify-content: space-between;
  padding-right: 20px;
  margin: 0 150px;
}

header .logo img {
  width: 300px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 21px;
  transition: color 0.3s ease;
  white-space: nowrap;
}

nav ul li a:hover {
  color: rgb(110, 110, 110); 
}

nav ul li.contact-item a {
  background-color: rgb(255, 191, 35);
  padding: 7px 15px; 
  border: 1px solid black;
  border-radius: 6px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li.contact-item a:hover {
  background-color: rgba(255, 191, 35, 0.8);
}

/* Banner */

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 90px 100px 0px 100px;
  width: 73%;
  margin: auto;
}

.banner-text-wrapper {
  width: 50%;
  padding-bottom: 150px;
}

.banner-text-main h1 {
  font-family: "League Spartan", serif;
  font-size: 3.2rem;
  font-weight: 400;
}

.banner-text-main {
  width: 95%;
}

.banner-text-main p {
  line-height: 30px;
  margin-bottom: 48px;
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
}

.banner-imgs-wrapper {
  position: relative;
  width: 50%;
}

.banner-img {
  width: 120%;
}

.banner-img-support {
  position: absolute;
  bottom: -70px;
  z-index: -1;
  opacity: 0.3;
  left: 13%;
  transform: translateX(-50%);
}

.banner-text-icons {
  display: flex;
  margin-top: 80px;
}

.banner-text-icons .icon-description-wrapper:first-child p {
  width: auto;
  white-space: nowrap;
}

.icon-description-wrapper {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.icon-description-wrapper img {
  width: 32px;
  padding-right: 13px;
}

.icon-description-wrapper p {
  font-size: 0.9rem;
  width: min-content;
}

/* About */

.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 191, 35);
  padding: 100px 0;
}

.about-wrapper {
  width: 73%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.about-left-content {
  width: 45%;
}

.about-right-content {
  width: 45%;
}

.bold-invisible {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.1rem;
}

.about-right-content p {
  line-height: 30px;
}

/* Our offers */

.our-offers-section {
  display: flex;
  justify-content: center;
}

.our-offers-wrapper {
  width: 73%;
  padding: 100px 0;
}

.our-offers-header {
  width: 50%;
  line-height: 30px;
}

.our-offers-header p {
  font-size: 1.2rem;
}

.our-offers-header span {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-right: 5px;
}

.our-offers-cards-wrapper {
  display: flex;
  margin-top: 90px;
  gap: 45px;
}

.card-wrapper {
  width: 25%;
}

.card-img img {
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 600;
  width: 100%;
}

.card-description-wrapper {
  line-height: 30px;
  width: 100%;
  padding-top: 20px;
}

.card-description-wrapper h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.card-description-tagline {
  font-weight: 300;
  font-weight: 600;
}

/* Challenge */

.challenge-section {
  padding-bottom: 80px;
}

.challenge-wrapper {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.challenge-section-left-content {
  width: 45%;
  position: relative;
}

.challenge-section-left-content img {
  width: 100%;
}

.challenge-section-right-content {
  width: 37%;
}

.challenge-section-right-content span {
  font-weight: 100;
}

.challenge-section-right-content p {
  line-height: 30px;
}

.challenge-section-left-content img:nth-child(1) {
  position: absolute;
  top: -83px;
  left: 0;
  width: 45%;
  z-index: 0;
}

.challenge-section-left-content img:nth-child(2) {
  z-index: 1;
  position: relative;
}

.challenge-section-left-content img:nth-child(3) {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 35%;
  height: 127px;
  z-index: 0;
}

.challenge-section-left-content img:nth-child(4) {
  position: absolute;
  bottom: -108px;
  right: 97px;
  width: 46%;
  height: 144px;
  z-index: 1;
}

/* Use cases */

.use-cases-wrapper {
  width: 73%;
  margin: auto;
}

.use-cases-section {
  background-color: rgb(255, 215, 239);
  padding: 70px 0 100px 0;
}

.use-case-description h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.use-case-description {
  line-height: 30px;
}

.use-cases-content {
  display: flex;
  gap: 80px;
}

.use-case-wrapper {
  flex: 1;
}

/* Prices */

.prices-section {
  width: 100%;
  background-color: rgba(232, 230, 230, 0.4);
  padding: 125px 0 70px 0;
}

.prices-wrapper {
  width: 73%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices-left-content {
  width: 40%;
}

.prices-content-wrapper {
  width: 45%;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 30px;
}

.prices-left-content p {
  line-height: 30px;
}

.prices-left-content p:last-of-type {
  margin-bottom: 57px;
}

.price-right-content-description {
  padding: 10px 32px 15px 32px;
  background-color: black;
  color: #fff;
}

.price-right-content-description h3 {
  font-size: 1.6rem;
  font-weight: 300;
}

.price-right-content-benefits {
  background-color: rgb(255, 215, 239);
  padding: 10px 32px;
}

.price-from {
  font-size: 0.8rem;
  padding-right: 5px;
}

.price {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.price-euro {
  font-size: 1.2rem;
  font-weight: 100;
  position: relative;
  top: -19px;
}

.period {
  margin-top: 0;
} 

.price-tag {
  font-size: 1.3rem;
  font-weight: 400;
}

.price-icon-benefit {
  display: flex;
  align-items: center;
}

.price-icon-benefit i {
  padding-right: 15px;
}

.price-right-content-button {
  padding: 47px 0 57px 0;
  text-align: center;
}

/* Contact Us */

.contact-us-section {
  text-align: center;
  padding-top: 120px;
}

.contact-us-wrapper {
  width: 73%;
  margin: auto;
}

.contact-us-content img {
  position: relative;
  bottom: -35px;
}

/* Footer */

footer {
  text-align: center;
  padding: 50px 0;
  background-color: rgb(255, 191, 35);
}

footer a {
  color: black;
  text-decoration: none;
}

/* Offers Page */

.offer-page-wrapper {
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin: auto;
  padding: 100px 0;
}

.offer-wrapper {
  width: 30%;
  border: 2px solid black;
  border-radius: 6px;
  background-color: rgb(255, 215, 239);
}

.offers-page h1 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  margin-top: 100px;
  padding: 72px 0;
  background-color: rgb(255, 215, 239);
  font-family: "League Spartan", serif;
}

.price-content-description {
  padding: 10px 32px 15px 32px;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-content-description h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

.price-content-button {
    padding: 40px 0 25px 0;
    text-align: center;
}

.price-content-description button {
    padding: 13px 33px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color 0.4s ease;
}

.price-content-description button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.price-content-benefits {
    background-color: rgb(255, 215, 239);
    padding: 10px 32px;
}

/* Contact Us Page */

.container {
  max-width: 600px;
  margin: 75px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Responsive */ 

/* Burger Button */

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 11;
}

.burger span {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Burger Animation */

.burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger.open span:nth-child(2) {
    opacity: 0; 
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
}

/* Mobile Menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%); 
  transition: transform 0.4s ease; 
  z-index: 10;
  overflow-y: auto; 
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.mobile-menu ul li {
  margin: 20px 0;
}

.mobile-menu ul li a {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.mobile-menu ul li a:hover {
  color: rgb(110, 110, 110);
}

.mobile-menu.show {
  transform: translateY(0); 
}

@media (max-width: 992px) {
  body, html {
      font-size: 15px;
  }

   .banner-img-support {
    display: none;
  }

  .burger {
    display: flex;
    width: fit-content;
    order: 2;
  }

  nav ul {
    display: none;
  }

  .logo {
    position: relative;
    top: 7px;
    left: -4px;
  }

  .btn-outline {
    font-size: 0.7rem;
  }

  .offer-page-wrapper {
    width: 90%;
  }

  .our-offers-cards-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .mobile-menu ul li a {
    font-size: 20px;
  }

  .section-title {
    font-size: 2rem;
  }

  .logo {
    position: relative;
    top: 7px;
  }

  nav ul {
    display: none;
  }

  header {
    position: relative;
    top: -20px;
    margin: 0;
  }

  header .logo img {
    width: 210px;
  }

  .banner-section {
    flex-direction: column-reverse;
    width: 90%;
    padding: initial;
    padding-top: 30px;
  }

  .banner-text-wrapper {
    width: auto;
    padding-bottom: 0;
  }

  .banner-text-main h1 {
    font-size: 2.6rem;
  }

  .banner-imgs-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .banner-img {
    width: auto;
    width: 80%;
  }

  .banner-img-support {
    display: none;
  }

  .banner-text-icons {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 55px;
    margin: 50px 0;
  }

  .icon-description-wrapper img {
    padding-right: 22px;
  }

  banner-section img {
    width: auto;
  }

  .banner-text-main p {
    font-size: 16px;
    margin-bottom: 38px;
    width: auto;
  }

  .icon-description-wrapper p {
    font-size: 14px;
  }

  .icon-description-wrapper p {
    width: auto;
  }

  .about-section {
    flex-direction: column;
  }

  .about-section {
    padding: 30px 0;
  }

  .about-left-content {
    width: 100%;
  }

  .about-right-content {
    width: 100%;
  }

  .use-cases-content {
    flex-direction: column;
  }

  .our-offers-cards-wrapper {
    flex-direction: column;
  }

  .about-wrapper {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .our-offers-wrapper {
    padding: 30px 0;
  }

  .our-offers-header p {
    font-size: 1.1rem;
  }

  .our-offers-cards-wrapper {
    margin-top: 70px;
  }

  .challenge-wrapper {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .challenge-section-left-content {
    width: 90%;
  }

  .challenge-section-right-content {
    width: 100%;
    margin-top: 60px;
  }

  .prices-wrapper {
    width: 90%;
    flex-direction: column;
    margin: auto;
  }

  .our-offers-wrapper {
    width: 90%;
  }

  .our-offers-header {
    width: 90%;
  }

  .card-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  .card-description-wrapper {
    width: 100%;
    padding-top: 0;
  }

  .card-img {
    text-align: center;
  }

  .card-img img {
    width: 55%;
  }

  .challenge-section {
    padding: 80px 0 40px 0;
  }

  .use-cases-wrapper {
    padding: 40px 0 10px 0;
    width: 80%;
  }

  .use-cases-section {
    padding: 0; 
  }

  .prices-left-content {
    width: 100%;
    padding-bottom: 70px;
  }

  .prices-content-wrapper {
    width: 100%;
  }

  .use-cases-content {
    margin-top: 55px;
  }

  .use-case-wrapper {
    margin-bottom: 40px;
  }

  .use-cases-content {
    gap: 0px;
  }

  .prices-section {
    padding: 50px 0 70px 0;
  }

  .price-content-description h3 {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .price {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 5px;
  }

  .contact-us-section {
    padding-top: 40px;
  }

  /* Offers Page  */

  .offer-page-wrapper {
    flex-direction: column;
    padding: initial;
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }

  .offer-wrapper {
    width: 100%;
    margin: 25px 0;
  }

  .offers-page h1 {
    font-size: 1.8rem;
  }

  .price-content-description {
    height: auto; 
  }

  .price-content-button {
    padding: 40px 0 40px 0;
  }

    /* Contact us Page  */

  .container {
    width: 77%;
    margin: 60px auto;
    padding: 20px;
  }

  form {
    width: 87%;
  }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .banner-img-support {
    display: none;
  }

  .price-content-description {
    height: auto;
  }

  .burger {
    display: flex;
    width: fit-content;
    order: 2;
  }

  nav ul {
    display: none;
  }
}





